#Pytorch/*.ipynb
Pytorch/__pycache__/*
Pytorch/src/__pycache__/*
Pytorch/.ipynb_checkpoints/*
Pytorch/notebooks/calibration/.ipynb_checkpoints/*
Pytorch/notebooks/center shift/.ipynb_checkpoints/*
Pytorch/src/.ipynb_checkpoints/*
JAX/.ipynb_checkpoints/*
JAX/__pycache__
Pytorch/src/torchessian/.ipynb_checkpoints/*
Pytorch/src/torchessian/__pycache__/*

Pytorch/notebooks/calibration/__pycache__/*
Pytorch/notebooks/linear hessian/.ipynb_checkpoints/
Pytorch/BH_delta_normalized/.ipynb_checkpoints/*
